$mainTextColor: #FFF;
$secondaryTextColor: #000;

$mainFont: 'ubuntu' monospace;
$secondaryFont: courier, monospace;

$mobile-min: 400px;
$mobile-max: 520px;
$tablet-min: 700px;
$tablet-max: 950px;
$desktop: 1200px;

$main-font-color: #FFF;
$accent-font-color: #00FF00;
$secondary-font-color: #000;
$error-color: red;

